pkgbase = logicutils-hpc
	pkgdesc = logicutils built with SLURM/SGE/PBS queue backends and SHA3 enabled (HPC variant)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/newsniper-org/logicutils
	arch = x86_64
	arch = aarch64
	license = BSD-2-Clause
	makedepends = rust
	makedepends = cargo
	depends = gcc-libs
	optdepends = slurm-llnl: SLURM workload manager client (sbatch, squeue, scancel)
	optdepends = gridengine: SGE workload manager client (qsub, qstat, qdel)
	optdepends = openpbs: PBS workload manager client (qsub, qstat, qdel)
	provides = freshcheck
	provides = stamp
	provides = lu-match
	provides = lu-expand
	provides = lu-query
	provides = lu-rule
	provides = lu-queue
	provides = lu-par
	provides = lu-deps
	provides = lu-multi
	conflicts = logicutils
	conflicts = logicutils-git
	conflicts = logicutils-multi
	conflicts = logicutils-multi-git
	conflicts = logicutils-hpc-git
	options = !lto
	source = logicutils-0.1.0.tar.gz::https://github.com/newsniper-org/logicutils/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = logicutils-hpc
