pkgbase = logicutils-multi
	pkgdesc = logicutils as a single multicall binary with symlinks (Tier 1, no crypto/cluster features)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/newsniper-org/logicutils
	arch = x86_64
	arch = aarch64
	license = BSD-2-Clause
	makedepends = rust
	makedepends = cargo
	depends = gcc-libs
	provides = freshcheck
	provides = stamp
	provides = lu-match
	provides = lu-expand
	provides = lu-query
	provides = lu-rule
	provides = lu-queue
	provides = lu-par
	provides = lu-deps
	provides = lu-multi
	conflicts = logicutils
	conflicts = logicutils-git
	conflicts = logicutils-multi-git
	conflicts = logicutils-hpc
	conflicts = logicutils-hpc-git
	options = !lto
	source = logicutils-0.1.0.tar.gz::https://github.com/newsniper-org/logicutils/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = logicutils-multi
