pkgbase = logicutils-git
	pkgdesc = Composable Unix-style utilities for logic-enhanced builds (git, in-house)
	pkgver = 0.1.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/newsniper-org/logicutils
	arch = x86_64
	arch = aarch64
	license = BSD-2-Clause
	makedepends = rust
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	optdepends = slurm-llnl: SLURM cluster backend for lu-queue
	optdepends = gridengine: SGE cluster backend for lu-queue
	optdepends = openpbs: PBS cluster backend for lu-queue
	provides = logicutils=0.1.0.r0.g0000000
	provides = freshcheck
	provides = stamp
	provides = lu-match
	provides = lu-expand
	provides = lu-query
	provides = lu-rule
	provides = lu-queue
	provides = lu-par
	provides = lu-deps
	provides = lu-multi
	conflicts = logicutils
	conflicts = logicutils-multi
	conflicts = logicutils-multi-git
	conflicts = logicutils-hpc
	conflicts = logicutils-hpc-git
	options = !lto
	source = logicutils::git+https://github.com/newsniper-org/logicutils.git#branch=main
	sha256sums = SKIP

pkgname = logicutils-git
